
.navbar{
    background-color: #005abc;
    color:white;
    display: flex;
    padding: 1rem;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: fixed;
    width:97vw;
    box-sizing: border-box;
}